<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Vets</title>
</head>
<body>
<h1 th:text="'List Of Vest'">List Of Vets..</h1>
<table border="1" style="margin-left: 50%;">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <th th:text="${vet.id}">ID</th>
        <th th:text="${vet.firstName}">First Name</th>
        <th th:text="${vet.lastName}">Last Name</th>
    </tr>
    </tbody>
</table>
</body>
</html>